@import "lib/bootstrap/less/bootstrap.less";

.template-legend {
  margin-bottom: -5px;
}

.ok {
  margin-top: 15px;
  background-color: #3fb618;
  border-color: #4e9f15;
  color: #ffffff;
  border: none;
  padding: 15px;
  border: 1px solid transparent;
  border-radius: 0;
}

.error {
  margin-top: 15px;
  background-color: #ff0039;
  border-color: #f0005e;
  color: #ffffff;
  border: none;
  padding: 15px;
  border: 1px solid transparent;
  border-radius: 0;
}

.info {
  background-color: #5bc0de;
  border-color: #5bc0de;
  color: #ffffff;
  border: none;
  padding: 15px;
  border: 1px solid transparent;
  border-radius: 0;
}

.inprogress {

}

.tooltip-inner {
  white-space:pre;
  max-width:none;
  text-align: left;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.templates-label {
  margin-top: 20px;
}

.btn-primary {
  margin-top: 20px;
}

