@(resultClass: String, results: List[String], templateId: String, commName: String)(implicit user: com.gu.googleauth.UserIdentity, messages: Messages)
@main{
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/publish.css")">

    <div class="page-header">
        <h1>Publish new version of '@commName' (@templateId)</h1>
        <h4>For details on how to construct a template see <a href="https://ovotech.github.io/comms-platform" target="_blank">here</a></h4>
    </div>


    @helper.form(action = routes.MainController.publishExistingTemplatePost(templateId), 'enctype -> "multipart/form-data") {


        <form class="form-horizontal">
            <fieldset>
                <legend class="template-legend">Enter Details</legend>
                <div class="form-group">
                    <label for="templateFile" class="col-lg-8 control-label templates-label"><a class="glyphicon glyphicon-info-sign"
                    data-toggle="tooltip"
                    data-placement="bottom"
                    data-original-title="The zip file should contain, at a minimum, the following structure:
  - /email/subject.txt
  - /email/body.html

Watch out on OSX to not include _MACOSX and .DS_Store files"
                    ></a>&nbsp;Select the zip file containing your template:</label>
                    <div class="col-lg-8">
                        <input class="form-control" type="file" name="templateFile" id="templateFile" accept=".zip" required>
                    </div>

                    <div class="form-group">
                        <div class="col-lg-8">
                            <button type="submit" id="publish" class="btn btn-primary">Publish Template</button>
                        </div>
                    </div>

                </div>
            </fieldset>
        </form>
    }



    <div class="col-lg-8">
        <div class=@resultClass>
            <ul>@for(result <- results){<li>@result</li>}</ul>
        </div>
    </div>
}