@(templates: Seq[TemplateSummaryLegacy], commPerformanceUrl: String, commSearchUrl: String)(implicit user: com.gu.googleauth.UserIdentity)
@import views.ViewHelper._
@main{
    <div class="page-header">
        <h1>Templates</h1>
    </div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th class="text-center">Comm name</th>
            <th class="text-center">Comm type</th>
            <th class="text-center">Latest template version</th>
            <th class="text-center">See comm performance</th>
            <th class="text-center">See operational metrics</th>
            <th class="text-center">View recent comms</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @for(template <- templates) {
        <tr>
            <td class="text-center"><a href="@routes.MainController.listVersions(template.commName)">@template.commName</a></td>
            <td class="text-center">@template.commType</td>
            <td class="text-center">@template.latestVersion</td>
            <td class="text-center"><a href="@commPerformanceLink(template.commName, commPerformanceUrl)" class="btn btn-primary"><span class="glyphicon glyphicon-tasks"></span></a></td>
            <td class="text-center"><a href="@routes.MainController.operationalMetrics(Some(template.commName), None)" class="btn btn-primary"><span class="glyphicon glyphicon-scale"></span></a></td>
            <td class="text-center"><a href="@commSearchLink(template.commName, commSearchUrl)" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span></a></td>
            <td class="text-center"><a href="@routes.MainController.publishExistingTemplateGet(template.commName)" class="btn btn-primary">
                Publish new version
            </a></td>
        </tr>
        }
        </tbody>
    </table>

}