@(templates: Seq[TemplateSummary], commPerformanceUrl: String, commSearchUrl: String)(implicit user: com.gu.googleauth.UserIdentity)
@import views.ViewHelper._
@main{
    <div class="page-header">
        <h1>Templates</h1>
    </div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th class="text-center">Comm name</th>
            <th class="text-center">Comm type</th>
            <th class="text-center">Latest template version</th>
            <th class="text-center">Brand</th>
            <th class="text-center">View recent comms</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @for(template <- templates) {
        <tr>
            <td class="text-center"><a href="@routes.MainController.listVersions(template.templateId)">@template.commName</a></td>
            <td class="text-center">@template.commType</td>
            <td class="text-center">@template.latestVersion</td>
            <td class="text-center">@template.brand</td>
            <td class="text-center"><a href="@commSearchLink(template.commName, commSearchUrl)" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span></a></td>
            <td class="text-center"><a href="@routes.MainController.publishExistingTemplateGet(template.templateId)" class="btn btn-primary">
                Publish new version
            </a></td>
        </tr>
        }
        </tbody>
    </table>

}