@(templateVersions: Seq[TemplateVersion], commName: String)(implicit user: com.gu.googleauth.UserIdentity)
@main{
    <div class="page-header">
        <div class="row">
            <div class="col-md-9">
                <h1>Template versions for '@commName'</h1>
            </div>
            <div class="col-md-3">
                <h1><a href="@routes.MainController.publishExistingTemplateGet(commName)" class="btn btn-primary">Publish new version</a></h1>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Version</th>
                        <th>Published by</th>
                        <th>Published at</th>
                        <th>Download</th>
                    </tr>
                </thead>
                <tbody>
                @for(templateVersion <- templateVersions) {
                    <tr>
                        <td>@templateVersion.version</td>
                        <td>@templateVersion.publishedBy</td>
                        <td>@templateVersion.publishedAt</td>
                        <td><a href="@routes.MainController.getTemplateVersion(templateVersion.commName, templateVersion.version)"><span class="glyphicon glyphicon-download"></span></a></td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
}