@(templates: Seq[TemplateSummary])(implicit user: com.gu.googleauth.UserIdentity)
@main{
    <div class="page-header">
        <h1>Templates</h1>
    </div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Comm Name</th>
            <th>Comm Type</th>
            <th>Latest template version</th>
        </tr>
        </thead>
        <tbody>
        @for(template <- templates) {
        <tr>
            <td><a href="@routes.MainController.listVersions(template.commName)">@template.commName</a></td>
            <td>@template.commType</td>
            <td>@template.latestVersion</td>
        </tr>
        }
        </tbody>
    </table>
}